.filterBlock {
    display: flex;
    flex-direction: column;
}

.grayBlock {
    width: 100%;
    background-color: lightgrey;
    height: 40px;
}

.filterBlock:nth-child(4) label:nth-child(2) {
    margin-bottom: 15px;
}

.grayBlockBot {
    height: 160px;
    margin-top: 50px;
}